# IDE / editor settings
.vscode/
.idea/
*.code-workspace


# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Local environment
/env/
.env
.env.*
/config.local.toml

.github/
.claude/settings.json
assets/
**/__pycache__/
third_party/*
!third_party/.gitkeep